:root{
    --blue-1: #2B34D9;
    --blue-2: #6B71F2;
    --blue-3: #0D17D9;
}

.fw-bold{
    color: var(--blue-1)!important;
}
.bi{
    color: var(--blue-2)
}
.btn-color-main{
    color: #fff;
    background-color: var(--blue-2);
}

.form-control{
    border: 1px solid #6b71f275;
}
.form-control:focus{
    border: 1px solid #6B71F2;
    box-shadow: 0 0 0 0.25rem rgb(107 113 242 / 25%);;
}
@media (min-width: 1200px) {
    .formulario{
        padding-left: 15%;
        padding-right: 15%;
    }
}
